*.pyc
__pycache__
.DS_Store
/MANIFEST
/dist
/build
/changelog.md
/.coverage
/.mypy_cache
/.pytest_cache
/.venv
/*.egg-info
/results
/wheels
/mock_report.html
/mock_report.md
/test_report.html
/test_report.md
/feed-survey.mk
