include feed_survey/py.typed
include feed_survey/report/template.html
prune build
prune dist
prune test
prune tools
prune src
prune *.egg-info
exclude .gitignore .editorconfig .dockerignore .coveragerc
